.category-title-input-container {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 20px;

  .title-input {
    align-items: center;
    display: flex;
    height: inherit;

    .btn {
      margin-left: 15px;
    }
  }

  .category-title {
    font-size: 20px;
  }
}
